.page-header {
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100;
}

.start {
  display: flex;
  align-items: center;
}

.hamburger-menu {  
  height: 24px;
  margin-left: 16px;
  margin-right: 16px;
  vertical-align: middle;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.hamburger-menu:hover {
  background-color: rgb(240, 240, 240, 0.8);
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
  color: rgb(33, 37, 41)
}

.country-code {
  font-family: Roboto, Arial, sans-serif;
  color: rgb(132, 132, 132);
  font-size: 10px;
  font-weight: 400;
  margin: 12px 0 0 2px;
  height: 44px;
}

.center {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 75px;
  margin-right: 40px;
  max-width: 495px;
}

.search-bar {
  height: 38px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  width: 0;
  background-color: rgb(255, 255, 255);
  cursor: text;
  padding: 0 4px 0 16px;
  border: 1px solid #cccccc;
  border-radius: 40px 0 0 40px;
  box-shadow: inset 0px 1px 2px #eeeeee;
  margin-left: 10px;
}

.search-bar::placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}

.search-button {
  height: 39px;
  width: 64px;
  cursor: pointer;
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  border-radius: 0 40px 40px 0;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-img {
  height: 24px;
  vertical-align: middle;
  background-color: #f7f7f7;
}

.voice-search-button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.voice-search-img {
  height: 24px;
  vertical-align: middle;
}

.end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  margin-right: 24px;
  margin-left: 29px;
  flex-shrink: 0;
}

.upload {
  height: 24px;
  cursor: pointer;
}

.notifs-container {
  position: relative;
}

.notifs {
  height: 24px;
  cursor: pointer;
}

.notifs-badge {
  position: absolute;
  top: -4px;
  left: 12px;
  display: inline-block;
  padding: 0 4px;
  min-width: 8px;
  max-width: 18px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 22px;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
  background-color: #cc0000;
  pointer-events: none;
}

.current-user-pic {
  height: 32px;
  cursor: pointer;
  border-radius: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}


