.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
  background-color: white;
  width: 64px;
  padding-top: 5px;
  z-index: 200;
}

.sidebar-button {
  font-size: 10px;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-left: 4px;
}

.sidebar-button:hover {
  background-color: rgb(241, 241, 241, 0.8);
  border-radius: 12px;
}

.sidebar-button img {
  height: 24px;
  margin-bottom: 6px;
}

.sidebar-button div {
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
}