.youtube.comClone {
  font-family: Roboto, Arial, sans-serif;
  background-color: #f9f9f9;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 30px;
  padding-top: 57px;
  padding-left: 72px;
  color: (0, 0, 0, 0.9); 
}

.video-card {
  cursor: pointer;
}

.video-card:hover .video-time {
  display: none;
}

.thumbnail {
  width: 100%;
  border-radius: 12px;
}

.thumbnail-row {
  margin-bottom: 8px;
  display: inline-block;
  position: relative;
}

.video-time {
  color: white;
  background-color: rgba(21, 21, 21, 0.9);
  position: absolute;
  bottom: 9px;
  right: 4px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 4px;
  padding: 1px 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr 
}

.profile-pic {
  width: 36px;
  border-radius: 50px;
} 

.video-caption {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 6px;
  width: 100%;
  text-align: left;
}

.content-creator {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.channel-name:hover {
  font-weight: bold;
}

.video-analytics {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 16px;
}

.middle-dot {
  font-weight: bold;
  color: black;
}